.btn {
    border-radius: 0px;
    font-family: 'Fira Sans', sans-serif;
    color: #F8F8F8;
    background: black;
    border-color: white;


}

.btn:hover {
  background-color: white;
}

.btn:focus {
  background-color: black;
  border: white;
}

li {
	list-style-type: none;
	color:black;
	font-family: 'Fira Sans', sans-serif;
	font-size: 30px;
	color: white;
}

h1 {

	text-align: left;
	font-family: 'Fira Sans', sans-serif;
	color: white;


}

.container {

	font-family: 'Fira Sans', sans-serif;
	color: white;

}

.header {
	margin: 50px 50px 50px 0px;

}

body {
	background: black;
}

